Host raspi
  User root
  HostName 192.168.1.122
Host docker
  User peaches
  HostName 192.168.1.103
Host rancher
  User rancher
  HostName 192.168.1.103
Host webserver
  User peaches
  HostName 192.168.1.130
Host brix1
  User zoox
  IdentityFile ~/.ssh/id_rsa
  HostName 172.16.131.144
Host pxe
  User peaches
  HostName 192.168.1.113
Host balrog
  User bertrand
  HostName 172.16.128.38
Host cortland
  User daniel
  HostName 172.16.130.6

Host zimbeast
   User zoox
   HostName kittsim01.zooxlabs.com
   Port 22
Host zimbeast2
   User zoox
   HostName kittsim02.zooxlabs.com
   Port 22

Host firehouse1
   User zoox
   HostName firehouse-ingest1.zooxlabs.com
   Port 22
Host firehouse2
   User zoox
   HostName firehouse-ingest2.zooxlabs.com
   Port 22
