Host raspi
  User root
  HostName 192.168.1.122
Host rancher
  User rancher
  HostName 192.168.1.103
Host webserver
  User peaches
  HostName 192.168.1.130
Host brix1
  User zoox
  IdentityFile ~/.ssh/id_rsa
  HostName 172.16.130.5
Host balrog
  User bertrand
  HostName 172.16.128.38
Host cortland
  User daniel
  HostName 172.16.131.25
