Host raspi
  User root
  HostName 192.168.1.122
Host rancher
  User rancher
  HostName 192.168.1.103
Host webserver
  User peaches
  HostName 192.168.1.130
Host Brix-1
  User daniel
  HostName 172.16.128.45
Host cortland
  User daniel
  HostName 172.16.131.25
