[submodule "themes/solarized"]
	path = themes/solarized
	url = git@github.com:altercation/solarized.git
[submodule "themes/gnome-terminal-colors-solarized"]
	path = themes/gnome-terminal-colors-solarized
	url = git@github.com:Anthony25/gnome-terminal-colors-solarized.git
[submodule "themes/Powerline-fonts"]
	path = themes/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "themes/dircolors-solarized"]
	path = themes/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
