[submodule "themes/solarized"]
	path = themes/solarized
	url = git@github.com:altercation/solarized.git
[submodule "themes/gnome-terminal-colors-solarized"]
	path = themes/gnome-terminal-colors-solarized
	url = git@github.com:Anthony25/gnome-terminal-colors-solarized.git
[submodule "themes/Powerline-fonts"]
	path = themes/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "themes/dircolors-solarized"]
	path = themes/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "config/i3/i3blocks"]
	path = config/i3/i3blocks
	url = git://github.com/vivien/i3blocks
[submodule "config/i3/playerctl"]
	path = config/i3/playerctl
	url = git@github.com:acrisci/playerctl.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/tilda"]
	path = modules/tilda
	url = https://github.com/lanoxx/tilda.git
[submodule "modules/Mutate"]
	path = modules/Mutate
	url = https://github.com/qdore/Mutate.git
[submodule "modules/albert"]
	path = modules/albert
	url = git@github.com:ManuelSchneid3r/albert.git
[submodule "shell/tools/bashProfiler"]
	path = shell/tools/bashProfiler
	url = git@github.com:F-Hauri/bashProfiler.git
